body {
    color: #272d2d;
    background-color: #FFFFFF;
    min-height: 85vh;
}

.bg-image {
    max-height: 84vh;
    position: relative;
}

#homepage-body {
    background-color: #FFFFFF;
}

.form-container {
    max-width: 60vw;
    min-height: 65vh;
    max-height: 80vh;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: none;
    background-color: #F5E6E8;
    margin-top: 3rem;
    max-width: 100%;
    max-height: 85%;
}

.image-container {
    position: relative;
}

.recipe-image {
    object-fit: cover;
    height: 18rem;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 20%;
    left: -2px;
    background-color: #64dfdf;
}

.author {
    color: #5d6161;
    margin: 4px;
    text-transform: uppercase;
}

.recipe-link, a i {
    text-decoration: none;
    color: #272d2d;
}

.recipe-link:hover, a i:hover,
.page-link {
    color: #5E60DE;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-text {
    color: #5d6161;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-text i {
    color: #5E60DE;
}

.masthead {
    margin-top: 3.5rem;
    max-height: 80vh;
}

.masthead-text {
    background-color: #FFFFFF;
    color: #272d2d;
}

.recipe-description {
    color: #5d6161;
}

.footer {
    margin-top: 0;
}