.bg-image {
    max-height: 84vh;
    position: relative;
}

.form-container {
    max-width: 50vw;
    min-height: 65vh;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}