{% extends "base.html" %}

{% block content %}

<div class="masthead container-fluid">
  <div class="row">
    <div class="col-md-6 masthead-text">
      <h1 class="recipe-title"> {{ recipe.title }} </h1>
      <!--save button heart icon goes here-->
      <!-- Recipe author goes before the | the recipe's created date goes after -->
      <p class="recipe-info"> | </p>
      <p class="recipe-description">
        {{ recipe.description }}
      </p>

    </div>
    <div class="col-md-6 masthead-image">
      {% if "placeholder" in recipe.image.url %}
      <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
      {% else %}
      <img src=" {{ recipe.image.url }}" width="100%">
      {% endif %}
    </div>
  </div>
</div>

<div class="recipe-content container-fluid">
  <div class="row">
    <div id="ingredients" class="col-md-6">
      <h2>Ingredients</h2>
      <ul>
          {% for ingredient in ingredients %}
              <li>{{ ingredient }}</li>
          {% endfor %}
      </ul>
    </div>
    <div id="instructions" class="col-md-6">

    </div>
  </div>
</div>

{% endblock content %}